<!-- chat/templates/chat/index.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>AppCounter</title>
</head>
<body>
<div>
    <label for="room-name-input"> Join a counter:</label>
    <input id="room-name-input" type="text" size="20">
    <input id="room-name-submit" type="button" value="Enter">
</div>
<br>
<div>
    <label for="room-create-submit">Create a room:</label>
    <input id="room-create-submit" type="button" value="Create">
</div>

<script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            window.location.pathname = '/chat/' + roomName + '/';
        };

        document.querySelector('#room-create-submit').onclick = function(e) {
            window.location.pathname = 'counter/createroom/';
        };


</script>
</body>
</html>