<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Counter Room</title>
</head>
<body>
<textarea id="count-log" cols="10" rows="10"></textarea><br>
<p id="count-total">{{total}}</p><br>
<!--    <input id="chat-message-input" type="text" size="100"><br>-->
<input id="count-up-submit" type="button" value="+" style="height:50px; width:50px;">

{{ room_name|json_script:"room-name" }}

<script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const totalCount =  document.getElementById('count-total').innerText;
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/counter/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            console.log(e);
            const data = JSON.parse(e.data);
            console.log(data)
            const total = data.counter_total;
            document.querySelector('#count-log').value += (total + '\n');
            document.getElementById('count-total').innerText = total;
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        // document.querySelector('#chat-message-input').focus();
        // document.querySelector('#chat-message-input').onkeyup = function(e) {
           // if (e.keyCode === 13) {  // enter, return
             //   document.querySelector('#chat-message-submit').click();
           // }
        //};

        document.querySelector('#count-up-submit').onclick = function(e) {
            //const messageInputDom = document.querySelector('#chat-message-input');
            //const message = messageInputDom.value;
            data = {
                'event': 'count.inc',
                'total': totalCount
            };
            chatSocket.send(JSON.stringify(data));
            //messageInputDom.value = '';
        };

</script>
</body>
</html>