<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Counter Room</title>
</head>
<body>
<h1>Room: {{ room_name}}</h1>
<h3>User: {{username}}</h3>
<textarea id="count-log" cols="50" rows="10"></textarea><br>
<p id="count-total">{{counter_total}}</p><br>
<ul id="users">
    Sem usuário
</ul>
<input id="count-up-submit" type="button" value="+" style="height:50px; width:50px;">

<script>
        const roomName = "{{room_name}}";
        const usersListView = document.getElementById('users');
        var usersList = []
        var logView = document.querySelector('#count-log')
        const totalCount =  document.getElementById('count-total').innerText;
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/counter/'
            + roomName
            + '/'
        );

        function refreshUsersView() {
            usersListView.innerText = ""
            for (var i =0; i<usersList.length; i++){
                const user = usersList[i];
                if (user[1]=== false)
                    continue
                let li = document.createElement('li');
                li.textContent = user[0]
                usersListView.appendChild(li);
            }
        }

        function askUserList(){
            chatSocket.send(JSON.stringify({
                'event': 'users.list'
            }))
        }
        refreshUsersView();

        chatSocket.onopen = function(e) {
            console.log(e);
            var username = "{{username}}"
            data = {
                'event': 'user.joined',
                'username': username
            };
            console.log(data)
            chatSocket.send(JSON.stringify(data));
        };

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            console.log(data)
            var event = data['event']
            if (event === 'count.inc'){
                const total = data.counter_total;
                document.querySelector('#count-log').value += (total + '\n');
                document.getElementById('count-total').innerText = total;
            }
            else if(event === 'user.joined'){
            logView.value += data.username + " entrou\n"
            }
            else if(event === 'users.list'){
                usersList=data.users
                refreshUsersView();
            }
        };

        chatSocket.onclose = function(e) {
            console.log(e)
            console.error('Chat socket closed unexpectedly');
        };

        // document.querySelector('#chat-message-input').focus();
        // document.querySelector('#chat-message-input').onkeyup = function(e) {
           // if (e.keyCode === 13) {  // enter, return
             //   document.querySelector('#chat-message-submit').click();
           // }
        //};

        document.querySelector('#count-up-submit').onclick = function(e) {
            //const messageInputDom = document.querySelector('#chat-message-input');
            //const message = messageInputDom.value;
            data = {
                'event': 'count.inc',
                'total': totalCount
            };
            console.log(data)
            chatSocket.send(JSON.stringify(data));
            //messageInputDom.value = '';
        };



</script>
</body>
</html>