<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Room {{room_name}} - Shared Counter</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
    <style>
      * {
        /* Reset browser's padding and margin */
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      .my-button {
        touch-action: manipulation;
        width: 100px;
        height: 100px;
        border: none;
        border-radius: 100px;
        outline: none;
        background: #00d1b2;
        color: white;
        cursor: pointer;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
      }
      .my-button:hover {
        background: darkblue;
      }


/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color:  hsl(171, 100%, 41%)	}
.material-icons.md-dark.md-inactive { color: hsl(171, 100%, 41%)	}




    </style>
</head>
<body>

{% include 'core/navbar.html' %}


<div id='register' class="container mt-6 pt-6">
    <div class="columns is-centered">
        <div class="column"></div>
        <div class="column is-half">
            <div class="card">
                <div class="card-content">
                    <p class="title has-text-centered">
                        Sala: {{ room_name}}
                    </p>
                    <p class="subtitle">
                        User: {{username}}
                    </p>
                    <div class="box">
                        <div class="field">
                            <label class="label">Logs</label>
                            <div class="control">
                                <textarea class="textarea" id="count-log" cols="50" rows="10"></textarea>
                            </div>
                            </br>
                            <p class="title has-text-centered">
                                Contador: <span id="count-total">{{ counter_total}}</span>
                            </p>
                        </div>
                        </br>
                        <div class='container'>
                        <div class="columns is-centered">
                            <div class="column is-half">
                                <div class="content has-text-centered">
                                    <button class="my-button" id="count-up-submit">+</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="content">
                <p class="title">Lista de usuários</p>
                <ul id="users" class>
                    Sem usuário
                </ul>

            </div>
            <hr>
            <div class="content">
                <p class="title">Sharing</p>
                <p class="subtitle">Link</p>
                <div onclick="share()">
                    
                <span class="material-icons md-dark">send</span></div>

            </div>
            <div class="content">
                <p class="subtitle">QR Code</p>
                <div id="qrcode">
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js">
</script>
<script>
        
        var roomName = "{{room_name}}";
        const usersListView = document.getElementById('users');
        var usersList = []
        var logView = document.querySelector('#count-log')
        const totalCount =  document.getElementById('count-total').innerText;

        const urlShare =  "{{ request.scheme }}://{{ request.get_host }}{% url 'room_no_username' room_name='roomName'  %}".replace("roomName", roomName)


        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/counter/'
            + roomName
            + '/'
        );



        function share(){
            console.log(urlShare)
            if (navigator.share) {
                navigator.share({
                    title: 'Shared Counter',
                    text: 'Help me to count',
                    url: urlShare,
                })
                .then(() => console.log('Successful share'))
                .catch((error) => console.log('Error sharing', error));
            } else {
                console.log('Share not supported on this browser, do it the old way.');
            }
        }

        new QRCode(document.getElementById("qrcode"), urlShare);

        function refreshUsersView() {
            usersListView.innerText = ""
            for (var i =0; i<usersList.length; i++){
                const user = usersList[i];
                if (user[1]=== false)
                    continue
                let li = document.createElement('li');
                li.textContent = user[0]
                usersListView.appendChild(li);
            }
        }

        function askUserList(){
            chatSocket.send(JSON.stringify({
                'event': 'users.list'
            }))
        }
        refreshUsersView();

        chatSocket.onopen = function(e) {
            console.log(e);
            var username = "{{username}}"
            data = {
                'event': 'user.joined',
                'username': username
            };
            console.log(data)
            chatSocket.send(JSON.stringify(data));
        };

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            console.log(data)
            var event = data['event']
            if (event === 'count.inc'){
                const total = data.counter_total;
                document.querySelector('#count-log').value += (total + '\n');
                document.getElementById('count-total').innerText = total;
            }
            else if(event === 'user.joined'){
            logView.value += data.username + " entrou\n"
            }
            else if(event === 'users.list'){
                usersList=data.users
                refreshUsersView();
            }

            logView.scrollTop = logView.scrollHeight 
        };

        chatSocket.onclose = function(e) {
            console.log(e)
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#count-up-submit').onclick = function(e) {
            data = {
                'event': 'count.inc',
                'total': totalCount
            };
            console.log(data)
            chatSocket.send(JSON.stringify(data));
        };









</script>
</body>
</html>